ul{
    list-style-type: circle;
    margin-left: 10%;
    width: 90%;
}
ul li{
    line-height: 3rem;
    font-size: 1.2rem;
    color: hsl(271, 100%, 33%);
    border-bottom: 1px solid hsl(271, 100%, 33%);
    width: 90%;
}