/*===============TOOLS===============*/
    /*  
        .25rem = 4px
        .5rem = 8px
        .75rem = 12px
        1rem = 16px
        1.5rem = 24px
        2rem = 32px
    */

/*===============VARIABLES===============*/
:root{
    /*===Heights=====*/
    --header-height: 3rem;

    /*===Font-size=====*/
    --big-header-size: 3rem;
    --second-header-size: 3rem;
    --text-size: 3rem;
    --header-link-size: 3rem;
    --icon-media-size: 3rem;
    --icon-nav-size: 3rem;

    /*===Font-family===*/
    --logo-font: ;
    --big-header-font: ;
    --second-header-font: ;
    --text-font: sans ms;
    --header-link-font: ;

    /*===Color===*/
    --hue: ;
    --hue-second: ;
    --hue-third: ;
    --big-header-color: ;
    --second-header-color: ;
    --text-color: ;
    --header-link-color: ;
    --icon-media-color: ;
    --icon-nav-color: ;
    --body-main-color: ;
    --body-second-color: ;
    --body-third-color: ;

    /*===Border===*/
    --border-small: 10px solid #000;
    --border-medium: 5px solid #000;
    --border-big: 2px solid #000;

    /*===Border-radius===*/
    --border-radius-small: 10px;
    --border-radius-medium: 5px;
    --border-radius-big: 2px;
}


@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lobster&family=Varela+Round&display=swap');


/*===============BASIC CODE start===============*/
*{
margin: 0;
padding: 0;
}


/*===============BASIC CODE end===============*/

/*===============BOBY start===============*/


/*===============BODY end===============*/

/*===============HEAEDER start===============*/
header{
    position: fixed;
    left: -80px;
    width: 80px;
    height: 100vh;
    background-color: #FFF2F9;
    box-shadow: 0px 0px 10px 0px rgba(240, 25, 25, 0.6);
    border-radius: 0px 15px 15px 0px;
}
header .logo{
    font-size: 2rem;
    color:blueviolet;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}
header ol{
    width: 100%;
    height: 80%;
    margin-top: 40%;
    display: flex;
    flex-direction: column;
}
header ol li{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}
header ol li .uil{
    font-size: 1.5rem;
    color: red;
    cursor: pointer;
}
.show{
    left: 0px;
}


.app_menu .uil{
    position: fixed;
    color: #5f4bb6;
    font-size: 2rem;
    top: 20px;
    right: 10px;
    cursor: pointer;
}


/*===============HEADER end===============*/

/*===============LANDING start===============*/
.layout{
    width: 100%;
}
h2{
    font-size: 2.5rem;
    text-align: center;
    padding: 20px 0px;
    text-transform: uppercase;
    font-family: 'Lobster', cursive;
    letter-spacing: 5px;
}
h4{
    font-size: 1.5rem;
    padding: 10px 5%;
}
table{
    width: 140%;
    height: 80vh;
    margin-left: 20px;
    background-color: aquamarine;
    border-radius: 5px;
    font-size: 15px;
    font-family: 'Varela Round', sans-serif;
}
table tr th{
    cursor: default;
}
table tr th .uil{
    font-size: 20px;
}




/*===============LANDING end===============*/

/*===============FOOTER sart===============*/


/*===============FOOTER end===============*/

/*===============DARK MODE SETTINGS start===============*/
.dark header{
    background-color: #0F1425;
    box-shadow: 0px 0px 10px 0px rgba(10, 10, 10, 10.6);
}
.dark header li .uil{
    color: #ACBBC6;
}
.dark .logo{
    color: #A5C4D4;
}
.dark h2{
    color: #8499B1;
}
.dark h4{
    color: #8499B1
}
.dark{
    background-color: #0F1425;
}

.dark ul li{
    color: #83B8FF;
}
.dark table{
    background-color: hsl(226, 42%, 5%);
    color: #ACBBC6;
}

/*===============DARK MODE SETTINGS end===============*/